<!DOCTYPE html>
<html>
<head>
    <title>Users List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userlist.css') }}">
</head>
<body>
    <h1>Users List</h1>
    <p class="main">Welcome {{ name }}</p>

    {% for user in users %}
       <div class="detail">
        <h3>{{ user['name'] }}</h3>
        <p>{{ user['email'] }}</p>
        <a href="/users/{{ user['id'] }}">View Details</a>
        <a href="/edit/{{user.id}}">edit</a>
        </div>
    {% endfor %}
</body>
</html>
